@model IEnumerable<IndoRestaurant.Models.BookingRequest>

@{
    ViewBag.Title = "Manage Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title <a href="~/Staff/Index" style="font-size:18px !important"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></h2>
<hr />
New Booking Request | @Html.ActionLink("Scheduled", "ScheduledBookings") | @Html.ActionLink("Cancelled", "CancelledBookings") | @Html.ActionLink("Finished", "FinishedBookings")
<table class="table">
    <tr>
        <th width="25%">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th width="20%">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th width="20%">
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.Persons)
        </th>
        <th width="25%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persons)
            </td>
            <td>
                @Html.ActionLink("Process", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
